.home {
    .swiper-pagination-bullet {
      border-radius: 0;
      width: 96px;
      height: 32px;
      transform-origin: right;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .swiper-pagination-bullet p {
      font-size: 24px;
      width: 100%;
      height: 100%;
      color: var(--swiper-pagination-text-color);
      transition: all ease-in-out 250ms;
    }
  
    .swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
    .swiper-vertical
      > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
      width: 96px;
      top: var(--swiper-pagination-top);
    }
  
    .swiper-slide:nth-of-type(1) {
      background: radial-gradient(#313030, var(--ARMS---black));
      color: white;
    }
  
    .swiper-slide:nth-of-type(2) {
      background: var(--ARMS---white, #fff);
      color: var(--ARMS---black);
    }
  
    .swiper-slide:nth-of-type(3) {
      background: var(--ARMS---yellow, #f9c406);
      color: var(--ARMS---black);
    }
  
    .swiper-slide:nth-of-type(4) {
      background: radial-gradient(#313030, var(--ARMS---black));
      color: white;
    }
  
    .swiper-slide {
      h5 {
        font-size: 100px;
      }
  
      p {
        @apply text-arms-black;
      }
  
      &.light {
        h5,
        p {
          @apply text-arms-white;
        }
      }
  
      $_top-left: 0% 0%;
      $_top-right: 100% 0%;
      $_bottom-left: 0% 100%;
      $_bottom-right: 100% 100%;
  
      :not(img).anim-slide {
        transition: clip-path 400ms ease-in-out;
        transition-delay: 1s;
        clip-path: polygon($_top-left, $_bottom-left, $_bottom-left, $_top-left);
  
        &.anim-slide-left {
          clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
        }
  
        &.anim-slide-up {
          clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
        }
  
        &.anim-slide-down {
          clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
        }
      }
  
      &.swiper-slide-active {
        :not(img).anim-slide {
          clip-path: polygon(
            $_top-left,
            $_bottom-left,
            $_bottom-right,
            $_top-right
          );
          transition-delay: 0s;
  
          &.anim-slide-left {
            clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
          }
  
          &.anim-slide-up {
            clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
          }
  
          &.anim-slide-down {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          }
        }
      }
  
      @media (min-width: 604px) {
        h5 {
          font-size: 125px;
        }
      }
  
      @media (min-width: 1404px) {
        h5 {
          font-size: 150px;
        }
      }
    }

  
    .left-4pc {
      left: 4%;
    }
  }